<!DOCTYPE html>
<html>
    <head>
        <title>Album Creation Result</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <div th:include="fragments/menu :: menu"></div>
        
        <div class="container">
            <div class="mx-auto text-center py-5">
                <h1 class="display-4 px-2">Music Creation Result</h1>
            </div>
            
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4 mx-auto">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Creation Success</div>
                    <div class="card-body">
                        <h5 class="card-title">Album saved</h5>
                        <p class="card-text">
                            Your album :
                            <ul class="nav justify-content-center">
                                <li class="nav-item">from band : <b class="badge badge-dark" th:text="${music.band}"></b></li>
                                <li class="nav-item">whose album is : <b class="badge badge-dark" th:text="${music.album}"></b></li>
                                <li class="nav-item">released in : <b class="badge badge-dark" th:text="${music.releaseYear}"></b></li>
                            </ul>
                            has been added.
                        </p>
                        <a class="btn btn-primary" th:href="@{/music/secure/add}">Add another album</a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
            </div>
                
<!--            <div>
                Your album has been added
                <b th:text="${music.band+' '+music.album+' '+music.releaseYear}"></b>
                <a th:href="@{/music/add}">Add another album</a>
            </div>-->
        </div>
    </body>
</html>
