<!DOCTYPE html>
<html>
    <head>
        <title th:text="${'Update/Add Genre Music Album : '+music.band +' '+music.album}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <div th:include="fragments/menu :: menu"></div>
        
        <div class="container">
            <div class="mx-auto text-center py-5">
                <h1 class="display-4 px-2">Music Creation</h1>
            </div>
            <form action="#" th:action="@{'/music/secure/update/addGenre/'+${musicId}}" th:object="${musicForm}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="album">
                            Album Name:
                        </label>
                        <input type="text" th:field="*{album}" class="form-control" id="album" />
                        <div class="alert alert-danger my-2" role="alert" th:if="${#fields.hasErrors('album')}" th:errors="*{album}">Album Name Error</div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="band">
                            Band Name:
                        </label>
                        <input type="text" th:field="*{band}" class="form-control" id="band" />
                        <div class="alert alert-danger my-2" role="alert" th:if="${#fields.hasErrors('band')}" th:errors="*{band}">Band Name Error</div>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="release-date">
                            Release Date:
                        </label>
                        <input type="date" th:field="*{releaseYear}" class="form-control" id="release-date" />
                        <div class="alert alert-danger my-2" role="alert" th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}">Release Date Name Error</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category">
                            Category:
                        </label>
                        <select th:field="*{categoryId}" id ="category" class="form-control">
                            <option value="">Choose a music category</option>
                            <option th:each="category : ${categorySet}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                        </select>
                        <div class="alert alert-danger my-2" role="alert" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" >Choose a Category</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="genre">
                            Genre : 
                        </label>
                        <select th:field="*{genre}" multiple="multiple" id="genre" class="form-control">
                            <option value="">Choose a music genre</option>
                            <option th:each="g : ${genreSet}" th:value="${g.id}" th:text="${g.genreName}"></option>
                        </select>
                        <div class="alert alert-danger my-2" role="alert" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Choose a Genre</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </body>
</html>
